<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.carlt.autogo">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>
    <!-- unavailable in API 23 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <uses-feature android:name="android.hardware.camera"/>
    <uses-feature android:name="android.hardware.camera.any"/>
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false"/>
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false"/>
    <uses-feature android:name="android.hardware.screen.landscape"/>
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="false"/>

    <application
        android:name=".application.AutoGoApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_auto_log"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:name">
        <activity
            android:name=".view.activity.MainActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".view.activity.LoginActivity">
        </activity>
        <activity android:name=".view.activity.RegisterActivity"/>
        <activity android:name=".view.activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".view.activity.login.ForgotActivity"/>
        <activity android:name=".view.activity.login.OtherActivity"/>
        <activity android:name=".view.activity.user.EditUserInfoActivity"/>
        <activity android:name=".view.activity.user.ChangeNickNameActivity"/>
        <activity android:name=".view.activity.user.PersonAvatarActivity"/>
        <activity android:name=".view.activity.user.accept.UserIdChooseActivity"/>
        <activity android:name=".view.activity.user.accept.IdCardAcceptActivity"/>
        <activity android:name=".view.activity.user.accept.UploadIdCardPhotoActivity"/>
        <activity android:name=".view.activity.user.accept.UploadIdCardPhotoActivity2"/>
        <activity android:name=".view.activity.user.accept.IdfCompleteActivity"/>
        <activity android:name=".view.activity.more.safety.SafetyActivity"/>
        <activity android:name=".view.activity.more.safety.LoginPwdManagementActivity"/>
        <activity android:name=".view.activity.more.safety.ChangeLoginPwdActivity"/>
        <activity android:name=".view.activity.more.safety.ChangeRemotePwdActivity"/>
        <activity android:name=".view.activity.more.safety.RemotePwdManagementActivity"/>
        <activity android:name=".view.activity.more.safety.LoginDeviceManagementActivity"/>
        <activity android:name=".view.activity.more.safety.UnRegisterActivity"/>
        <activity android:name=".view.activity.more.transfer.ScanActivity"/>
        <activity android:name=".view.activity.car.BrandActivity"/>
        <activity android:name=".view.activity.car.ModelActivity"/>
        <activity android:name=".view.activity.car.BrandCarActivity"/>
        <activity android:name=".view.activity.car.MyCarActivity"/>
        <activity android:name=".view.activity.car.CarDetailsActivity"/>
        <activity android:name=".view.activity.car.DeviceActivateActivity"/>
        <activity android:name=".view.activity.car.DeviceActivateEditActivity"/>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.carlt.autogo.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">

            <!-- 提供共享路径 -->
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>

        <activity
            android:name="com.mob.tools.MobUIShell"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="stateHidden|adjustResize"/>
        <activity
            android:name=".view.activity.login.FaceLiveCheckActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".view.activity.login.LoginByPhoneActivity"/>
        <activity android:name=".view.activity.more.safety.FreezeActivity"/>
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name="com.alipay.sdk.app.H5AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity android:name=".view.activity.more.safety.UnFreeezeActivity"/>
        <activity android:name=".view.activity.more.safety.FaceRecognitionSettingFirstActivity"/>
        <activity android:name=".view.activity.more.safety.FaceRecognitionSettingActivity"/>
        <activity
            android:name=".view.activity.car.CarCertificationActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity
            android:name=".view.activity.car.CarActivateActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"/>
        <activity android:name=".view.activity.user.UserBindPhoneActivity"/>
        <activity android:name=".view.activity.more.safety.FaceAuthSettingActivity">
        </activity>
        <activity android:name=".view.activity.login.FaceLoginActivity">
        </activity>
        <activity android:name=".view.activity.more.safety.UnRegisterNoticeActivity">
        </activity>
        <activity android:name=".view.activity.more.safety.UpdatePhoneOneActivity">
        </activity>
        <activity android:name=".view.activity.more.safety.UpdatePhoneTwoActivity">
        </activity>
        <activity android:name=".view.activity.more.transfer.ScannerResultActivity">
        </activity>
        <activity
            android:name=".view.activity.more.transfer.AuthQRCodeActivity"
            android:hardwareAccelerated="false">
        </activity>
        <activity
            android:name=".view.activity.more.transfer.TransferQRCodeActivity"
            android:hardwareAccelerated="false">
        </activity>
        <activity android:name=".view.activity.more.transfer.AuthHandleActivity">
        </activity>
        <activity android:name=".view.activity.more.transfer.TransHandleActivity">
        </activity>
        <activity android:name=".view.activity.activate.ActivateStepActivity">
        </activity>
        <activity android:name=".view.activity.more.transfer.WaitAuthActivity">
        </activity>
        <activity android:name=".view.activity.more.transfer.CheckSmsCodeActivity">
        </activity>
        <activity android:name=".view.activity.user.UserBindPwdActivity">
        </activity>
    </application>

</manifest>